body {
    background: rgba(0, 0, 0, 0.562) url('/assets/images/0002.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-blend-mode: overlay;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    /* direction: rtl; */
    font-family: yekan;
    text-align: center;
}

section {
    text-align: center;
    padding-top: 50px;
}

#servicesBox , .servicesBox {
    width: 500px;
    display: inline-block;
    text-align: center;
    list-style-type: circle;
    background-color: rgba(240, 255, 255, 0.61);
    padding: 30px;
    border-radius: 20px;
    vertical-align: middle;
}

#servicesBox li {
    background-color: aqua;
    padding: 20px;
    margin: 5px 0 5px 0;
}

#servicesBox button {
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    display: inline-block;
    vertical-align: middle;
}

#servicesBox div {
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
}

#servicesBox img {
    width: 30px;
}

#servicesBox .imagBox {
    line-height: 4.5;
}
article {
    display: inline-block;
    width: 300px;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(240, 255, 255, 0.61);
    height: 300px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

article h1 {
    margin: 5px;
}

#servicesBox input{
    width: 85%;
    border: none;
    background-color: transparent;
    box-shadow: 0 0 10px black;
    border-radius: 50px;
}

/* طراحی فرم------------------------- */

form{
    display: inline-block;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.616);
    margin-top: 20px;
    width: 55%;
}

.inputBox{
    background-color: transparent;
    border-radius: 5px;
    transition: all 1s;
    width: 90%;
    height: 30px;
    margin-top: 10px;
}
.inputBtn{
    border-radius: 5px !important;
    width: 50px !important;
    height: 30px !important;
    margin-top: 10px;
    background-color: blueviolet;
}


input:focus{
    background-color: rgba(255, 0, 0, 0.322);
    border-radius: 5px;
}

::placeholder{
    transition: all 1s;
    font-size: 20px;
}
input:hover::placeholder{
    color: rgb(21, 255, 0);
}


@media (max-width : 600px) {
    .servicesBox , article , ul{
        display: inline-block;
        width: 80% !important;
        margin-top: 10px;
    }

    form{
        width: 82%;
    }
    
}
